@import url(reset.css);

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

body,
html {
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: black;
}

main {
  display: flex;
  height: 100vh;
}

.section-logo {
  width: 50%;
  color: white;
  background-image: url(img/fundo.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-info {
  width: 50%;
  background: #fff;
}

.section-info > img {
  position: relative;
  height: calc(100%);
  /* background-color: red; */
}

.description h2 {
  font-weight: 900;
  font-size: 2em;
  margin-bottom: 1em;
  font-family: "Audiowide", sans-serif;
}

.description p {
  font-size: 1em;
  margin-bottom: 1em;
}

.programadores {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.programadores > img {
  border-radius: 100%;
  width: 120px;
}

.vidro {
  position: absolute;
  width: 55%;
  height: 50%;
}

.tinta {
  width: 50%;
  height: 30%;
  position: absolute;
}

.text-section {
  font-family: fantasy;
  position: absolute;
  align-items: center;
}

.text-section > h1 {
  color: rgb(0, 255, 204);
  font-size: 400%;
  align-items: center;
}

.text-section > p {
  color: beige;
  font-size: larger;
  text-align: center;
}
.negrito {
  font-size: larger;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}

header {
  background-color: black;
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 1rem 0;
}

header nav a {
  color: white;

  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1rem;
  justify-content: space-between;
  padding: 5em;
}

header nav a:hover {
  text-decoration: underline;
}

.black-ops {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.button {
  background-color: rgb(0, 255, 204);
  height: 40px;
  width: 250px;
  font-family: "Audiowide", sans-serif;
  box-shadow: 5px 5px 10px;
  cursor: pointer;
}
